@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-h4-1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubikmonoone/v12/UqyJK8kPP3hjw6ANTdfRk9YSN-8w.ttf) format('truetype');
}
html,
body {
  font-family: 'Loto';
  margin: 0;
  /* ползунок скроллбара */
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 16px;
  /* ширина для вертикального скролла */
  height: 16px;
  /* высота для горизонтального скролла */
}
html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}
.block-icons {
  z-index: 20;
  position: fixed;
  right: 50px;
  display: flex;
}
.block-icons__svg {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}
.block-icons__item {
  cursor: pointer;
  z-index: 20;
}
.block-icons__item:hover {
  opacity: 0.5;
}
.block-icons__item_profile {
  margin-left: 10px;
}
.main-nav {
  display: flex;
}
.main-nav__item {
  font-family: 'Lato', sans-serif;
  padding: 19.5px 16.2px;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}
.main-nav__item:hover {
  color: #ff7a18;
  background-color: rgba(76, 76, 76, 0.4);
}
.header-page {
  display: flex;
  background-color: #111;
  border-bottom: 1px solid #676767;
  padding: 0px 48.645px;
  align-items: center;
}
.header-page__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.header-page__logo {
  display: flex;
  cursor: pointer;
}
.header-page__logo_word {
  margin-left: 5px;
  margin-right: 50px;
}
.middle-top-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fff;
}
.middle-top-block__left-div {
  position: relative;
}
.middle-top-block__left-div:before {
  content: "";
  z-index: 3;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  height: 100%;
  width: 120%;
  opacity: 0.75;
  position: absolute;
  mix-blend-mode: screen;
}
.middle-top-block__left-div:after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 3;
  left: 75%;
  height: 100%;
  top: 0;
  width: 50%;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, rgba(70, 56, 56, 0.013) 8.1%, hsla(0, 0%, 100%, 0.049) 15.5%, hsla(0, 0%, 100%, 0.104) 22.5%, hsla(0, 0%, 100%, 0.175) 29%, hsla(0, 0%, 100%, 0.259) 35.3%, hsla(0, 0%, 100%, 0.352) 41.2%, hsla(0, 0%, 100%, 0.45) 47.1%, hsla(0, 0%, 100%, 0.55) 52.9%, hsla(0, 0%, 100%, 0.648) 58.8%, hsla(0, 0%, 100%, 0.741) 64.7%, hsla(0, 0%, 100%, 0.825) 71%, hsla(0, 0%, 100%, 0.896) 77.5%, hsla(0, 0%, 100%, 0.951) 84.5%, hsla(0, 0%, 100%, 0.987) 91.9%, #fff);
}
.middle-top-block__img {
  object-fit: cover;
  max-width: none;
  width: 120%;
  height: 100%;
}
.middle-top-block__description {
  z-index: 4;
  padding: 3rem;
}
.middle-top-block__title {
  margin-top: 7px;
  font-family: 'Loto', sans-serif;
  font-style: normal;
  font-size: clamp(2rem, calc(1.9rem + 0.6vw), 2.8rem);
  font-weight: 900;
  line-height: 1.1;
  cursor: pointer;
}
.middle-top-block__title:hover {
  opacity: 0.6;
}
.middle-top-block__text {
  font-family: 'Loto';
  color: #474747;
  font-size: 1.2rem;
  margin-top: 40px;
  line-height: 1.7;
}
.main-page {
  height: 4200px;
  background-color: #262626;
  padding: 48.465px;
}
.popular-articles {
  position: relative;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 6fr 24fr;
  z-index: 0;
}
.popular-articles:after {
  height: 88%;
  content: "";
  position: absolute;
  right: 0;
  top: 48px;
  bottom: 3.6rem;
  width: 5px;
  border-radius: 5px;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  box-shadow: -10px 0 20px 3px #000;
  z-index: 11;
}
.main-card {
  margin-top: 48.465px;
  position: relative;
  height: 400px;
}
.main-card:before {
  content: "";
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: 1;
  border-radius: 12px;
}
.main-card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 2;
  border-radius: 8px;
}
.main-card__content-top-label {
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1.8rem, calc(1.8rem + 0.2vw), 3rem);
  font-weight: 800;
  margin-top: 75%;
  margin-left: 10%;
  color: white;
}
.main-card__content-sponsor {
  margin-top: 10%;
  margin-left: 10%;
  color: white;
}
.main-card__content-sponsor-value {
  margin-top: 3%;
  margin-left: 10%;
  color: #0089c7;
  cursor: pointer;
}
.main-card__content-sponsor-value:hover {
  opacity: 0.7;
}
.cards {
  padding-top: 48.465px;
  overflow-x: scroll;
  margin-left: 50px;
  display: flex;
  position: relative;
  z-index: 0;
}
.cards::-webkit-scrollbar {
  height: 10px;
}
.cards::-webkit-scrollbar-track {
  background: none;
}
.mini-card {
  box-sizing: border-box;
  width: 24vw;
  height: 90%;
  min-width: 300px;
  min-height: 350px;
  box-shadow: -2rem 0 3rem -2rem #000;
  padding: 25px;
  border-radius: 16px;
  background: linear-gradient(85deg, #434343, #262626);
  color: #fff;
  position: relative;
  margin-left: -130px;
  transition: all ease 0.3s;
}
.mini-card:hover {
  transform: rotate(3deg) translateY(-30px);
}
.mini-card:hover ~ .mini-card {
  transform: translateX(160px);
}
.mini-card__time {
  color: #777;
  margin-bottom: 10px;
}
.mini-card__time-strong {
  color: #d4d4d4;
}
.mini-card__tags-item {
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #ff7a18;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.mini-card__tags-item:hover {
  opacity: 0.7;
}
.mini-card__title {
  cursor: pointer;
  line-height: 120%;
  color: #fff;
  letter-spacing: 0.03rem;
  font-weight: 800;
  font-size: 1.3rem;
  margin: 0 0 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mini-card__title:hover {
  opacity: 0.7;
}
.mini-card__author {
  bottom: 25px;
  position: absolute;
  display: flex;
  align-items: center;
}
.mini-card__author-span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.mini-card__author-span:hover {
  opacity: 0.7;
}
.mini-card_1 {
  margin-left: 0!important;
  z-index: 1;
}
.mini-card_2 {
  z-index: 2;
}
.mini-card_3 {
  z-index: 3;
}
.mini-card_4 {
  z-index: 4;
}
.mini-card_5 {
  z-index: 5;
}
.mini-card_6 {
  z-index: 6;
}
.mini-card_7 {
  z-index: 7;
}
.mini-card_8 {
  z-index: 8;
}
.mini-card_9 {
  z-index: 9;
}
.mini-card_10 {
  z-index: 10;
}
.avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}
.avatar:hover {
  opacity: 0.7;
}
.articles-and-sidebar {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 22.5fr 7fr;
}
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.article {
  background: #fff;
  color: #474747;
  border-radius: 8px;
  position: relative;
  height: 610px;
}
.article_row-3 {
  height: 490px;
}
.article__text-part {
  padding: 25px;
}
.article__paragraph {
  font-size: clamp(12px, calc(0.8rem + 0.25vw), 20px);
  font-weight: 400;
  line-height: 1.7;
  color: #474747;
}
.article__paragraph-link {
  color: #0089c7;
  text-decoration: none;
}
.article__paragraph-link:hover {
  opacity: 0.7;
}
.article:after {
  border-radius: 8px  8px 0 0;
  pointer-events: none;
  content: "";
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  display: block;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
}
.article__img {
  border-radius: 8px  8px 0 0;
  object-fit: cover;
  width: 100%;
  height: 150px;
}
.article__title {
  margin-top: 5px;
  font-family: 'Roboto';
  color: #111;
  font-size: clamp(1.6rem, calc(1.64rem + 0.2vw), 3rem);
  font-weight: 800;
  cursor: pointer;
}
.article__title:hover {
  opacity: 0.7;
}
.sidebar-item {
  margin-bottom: 55px;
  padding: 0.5rem;
  border-radius: 8px;
  background: #fff;
  padding-bottom: 1.8rem;
}
.sidebar-item__img {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 1.5rem rgba(17, 17, 17, 0.7);
  transition: 0.15s;
  max-width: 100%;
  height: 300px;
  background-size: cover;
}
.sidebar-item__title {
  cursor: pointer;
  color: #0089c7;
  text-transform: uppercase;
  font-size: 0.45rem;
  letter-spacing: 0.045rem;
}
.sidebar-item__title:hover {
  opacity: 0.7;
}
.sidebar-item__text-block {
  padding: 1rem 1rem 0 1rem;
  line-height: 1.2rem;
}
.sidebar-item__text {
  cursor: pointer;
  color: #434343;
  font-size: 0.75rem;
  text-align: left;
}
.sidebar-item__text:hover {
  opacity: 0.7;
}
.tags {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  color: #ff7a18;
  font-size: 0.76rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.tags:hover {
  opacity: 0.6;
}
.signature {
  display: flex;
  align-items: center;
}
.signature_middle-top {
  margin-top: 8%;
}
.signature_article {
  position: absolute;
  bottom: 25px;
}
.signature__name {
  cursor: pointer;
  margin-right: 5px;
  font-weight: 700;
}
.signature__name:hover {
  opacity: 0.7;
}
.signature__date {
  color: #565656;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
}
.signature__heart {
  color: #bb0505;
  margin-bottom: 3px;
  margin-right: 2px;
}
.btn-page {
  border: 0;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  height: 55px;
  background-color: #5e5e5e !important;
  color: #fff;
  border-bottom: 1px solid #262626;
  border-right: 1px solid #262626;
  box-shadow: inset 1px 1px 0 #777, 0 2px 3px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
  white-space: nowrap;
}
.btn-page_keep-browser {
  margin-top: 50px;
  width: 100%;
}
.btn-page_form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 145px;
  margin-left: 8px;
  padding: 1rem 1.5rem;
}
.btn-page:hover {
  opacity: 0.7;
}
.left-block {
  margin-right: 50px;
}
.footer-page {
  position: relative;
}
.footer-label {
  color: white;
  font-size: 1.8rem;
  line-height: 1.3;
  padding-top: 70px;
}
.footer-label__link {
  text-decoration: none;
  color: #0089c7;
}
.footer-label__link:hover {
  opacity: 0.7;
}
.link-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.link-grid__item-title {
  text-transform: uppercase;
  color: #ff7a18;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
}
.link-grid__column-item {
  line-height: 1.7;
}
.link-grid__ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  margin-top: 5px;
}
.link-grid__li {
  list-style-type: none;
}
.link-grid__li a {
  text-decoration: none;
  color: #a9a39f;
  margin-right: 0.2rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.link-grid__li a:hover {
  color: white;
}
.link-grid__span {
  color: white;
  opacity: 0.3;
}
.footer-page__top {
  display: flex;
  position: relative;
  z-index: 2;
}
.footer-form-wrap {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  right: 20px;
  position: absolute;
  box-sizing: border-box;
  width: 702px;
  height: 186px;
  padding: 24.3px;
  background-color: #434343;
  top: -49px;
  right: 0;
}
.footer-form:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 20px;
  height: 48px;
  background: #909090;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.footer-form__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ff7a18;
  margin: 0;
}
.footer-form__label {
  color: white;
  margin-top: 10px;
  margin-bottom: 28px;
}
.footer-form__input {
  background: #eaeaea;
  border: 1px solid #d4d4d4 !important;
  border-radius: 4px;
  box-sizing: border-box;
  height: 56px;
  width: 498px;
  padding: 8px;
}
.footer-form__input:focus {
  background: white;
}
.footer-form__input::placeholder,
.footer-form__input::-webkit-input-placeholder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  letter-spacing: 1px;
}
.footer-form__input-and-btn {
  align-items: center;
  display: flex;
}
.logo-star {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -90px;
  z-index: 1;
  left: 40px;
}
.footer-page__background {
  background-image: url('./img/FP.png');
  background-size: cover;
  padding: 0 48.645px;
  position: relative;
  z-index: 2;
}
.logo-left {
  animation: spinMe 1s forwards;
}
@keyframes spinMe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.language-css {
  margin-top: 70px;
  margin-bottom: 70px;
}
.language-css__item {
  font-size: 16px;
  font-family: 'Roboto';
  letter-spacing: 1px;
}
.language-css__item_yellow {
  color: #f5d67b;
}
.language-css__item_green {
  color: #72e0d1;
}
.screen-reader {
  position: absolute!important;
}
